<div class="slider-home" data-time="7000">
    <div class="slide-bg">
        <div class="bg-home">
            <img src="~/pictures/catalog/home/slide-homepage/chuckII-rubberr.jpg" alt="Home">
        </div>
        <div class="bg-home">
            <img src="~/pictures/catalog/home/slide-homepage/slide-banner-web.jpg" alt="Home">
        </div>
        <div class="bg-home">
            <img src="~/pictures/catalog/home/slide-homepage/web-chinh.jpg" alt="Home">
        </div>
        <div class="bg-home">
            <img src="~/pictures/catalog/home/slide-homepage/rubber-ox-slide.png" alt="Home">
        </div>
    </div>
</div>

